.person_item {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    height: 190px;
    overflow: hidden;
    left: 0;
    margin: auto;
    .person_images_item {
        width: 260px;
        height: 190px;
        position: relative;
        left: 0px;
        top: 0px
    }
}